.App {
  font-family: sans-serif;
  text-align: center;
}

.example {
  border: 1px solid gray;
  border-radius: 5px;
  margin: auto auto 20px auto;
  padding: 15px;
  width: 300px;
}

.example-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

legend {
  font-weight: 600;
}

.inspector {
  border: 1px dashed #ccc;
  border-radius: 5px;
  margin: auto auto 20px auto;
}

.ice-cream-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scoops {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-scoop-btn {
  width: fit-content;
  align-self: center;
}

.scoop-card {
  padding: 5px;
  border: 1px dashed blue;
  border-radius: 5px;
}

.add-scoop-btn {
  width: fit-content;
  align-self: center;
}

.issues {
  border: 1px dashed red;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  height: 20px;
}

.section-title {
  margin-top: 25px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
